.mention,
.date {
  @apply text-gray-500 inline-block justify-center;

  &::before {
    content: "＠";
  }
  img {
    @apply inline-block mx-1 rounded-full;
  }
}

.database {
  @apply inline-block justify-center;

  &::before {
    @apply inline-block mr-1;
    content: "💿";
  }
}

.page {
  @apply inline-block justify-center;
  &::before {
    @apply inline-block mr-1;
    content: "📄";
  }
}
